h3{
    font-weight: bolder;
    font-size: 26px;
    background: #ffff008f;
    border-radius: 11px;
    padding: 2px 11px;
    margin: 7px;
}
h2,  p{
    margin: 0;
    font-weight: lighter;
}
.h2Mtop{
    margin-top: -7px;
}

.MBtext{
    margin-bottom: 16px;
}   
p{
    font-size: 15px;
    margin: -2px;
}
.logos{
    width: 191px;
    margin: 6px;
}
button {
    border-radius: 7px;
    border: none;
    color: black;
    font-weight: bolder;
    background: yellow;
    padding: 6px 9px;
    font-family: 'Averta-Bold', sans-serif;
    margin: 10px;
}
body{
    height: auto;
    padding: 114px 0;
    background-size: cover;
}
.promocional{
  font-size: 12px;
  margin-top: -7px;
  margin-bottom: 18px;
}
